<h1>Listing Blogs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Rating</th>

    </tr>

    <% @blogs.each do |blog| %>
      <tr>

        <td><%= blog.title %></td>
        <td><%= blog.description %></td>
        <td><%= blog.author %></td>
        <td>
          <div class="rating" data-score="<%=blog.average_rating%>"></div>
        </td>
        <td><%= link_to 'Show', blog %></td>
        
        <% if current_user.present? && blog.author == current_user.name%>
          <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
          <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
