<p id="notice"><%= notice %></p>
<p>Title: <%=@blog.title%></p>
<p>Description: <%=@blog.description%></p>
<p>Author: <%=@blog.author%></p>
<%= hidden_field_tag :blog_id, '', :value => @blog.id%>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<%#=link_to "comment", comment_blog_path(@blog), remote: true %>

